socket: 'tcp://127.0.0.1:8282'
timeout: 500
actions:
    mouse1Down:
        type: 'mouse'
        action: 'hold'
        target: 'left'
    mouse1Up:
        type: 'mouse'
        action: 'release'
        target: 'left'
    mouse2Down:
        type: 'mouse'
        action: 'hold'
        target: 'right'
    mouse2Up:
        type: 'mouse'
        action: 'release'
        target: 'right'
    mouseMove:
        type: 'mouse'
        action: 'move'
signs:
    pinchIndex:
        pinch:
            pincher: 'indexFinger'
            min: 0.5
    pinchRing:
        pinch:
            pincher: 'ringFinger'
            min: 0.5
    freeHand:
        grab:
            max: 0.4
recipes:
    mouseMove:
        action: 'mouseMove'
        signs:
         - 'freeHand'
        continuous: true
    mouseButton1:
        signs:
         - 'pinchIndex'
        action: 'mouse1Down'
        tearDown: 'mouse1Up'
    mouseButton2:
        signs:
         - 'pinchRing'
        action: 'mouse2Down'
        tearDown: 'mouse2Up'
